/* quicksand-regular - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/quicksand-v21-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/quicksand-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/quicksand-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/quicksand-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/quicksand-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/quicksand-v21-latin-regular.svg#Quicksand') format('svg'); /* Legacy iOS */
}
/* quicksand-700 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/quicksand-v21-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/quicksand-v21-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/quicksand-v21-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/quicksand-v21-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/quicksand-v21-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/quicksand-v21-latin-700.svg#Quicksand') format('svg'); /* Legacy iOS */
}

html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand';
  font-style: normal;
  font-size: 16px;

}
*,*::after,*::before{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
img{
  max-width: 100%;
  height: auto;
}
a{
  text-decoration: none;
}
/*header style start*/
header{
  padding: 0 10%;

}
.header{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 10px;
  margin-bottom: 174px;
}
.header a{
  text-decoration: none;
}
.thrivetalk{
  width: 120px;

}
.thrivetalk a{
  display: block;
  width: 100%;
  height: 100%;
  font-size: 24px;
  color: #62D0DF;

}
.menu{
  list-style: none;
}
.menu li{
  display: inline-block;
  margin-left: 13px;
  height: 40px;
}
.menu a{
  font-size: 14px;
  color: #22356F;

}
.active{
  border-bottom: 3px solid #22356F; 
}

.contact{
  text-align: center;
  width: 150px;
  height: 50px;
  background: #62D0DF;
  border-radius: 50px;
  padding-top: 16px;
}
.contact a{
  width: 100%;
  height:100%;
  font-size: 14px;
  color: #ffffff;
  display: block;

}
.helping{
  width: 484px;
  font-size: 48px;
}
.text_3 a{
  color: black;
  
}
.text_3{
  width: 484px;
  height: 167px;

}
.ff{
  width: 469px;
  height: 161px;
  font-size: 24px;
  color: #22356F;
}

/*header style end*/























































